[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Duc Huy Nguyen (dhuynguyen94)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Duc Huy Nguyen (dhuynguyen94)
	label-Verified = -1..+1 group user/Duc Huy Nguyen (dhuynguyen94)
	push = group user/Duc Huy Nguyen (dhuynguyen94)
	read = group user/Duc Huy Nguyen (dhuynguyen94)
	rebase = group user/Duc Huy Nguyen (dhuynguyen94)
	removeReviewer = group user/Duc Huy Nguyen (dhuynguyen94)
	submit = group user/Duc Huy Nguyen (dhuynguyen94)
[access "refs/heads/*"]
	create = group user/Duc Huy Nguyen (dhuynguyen94)
	push = +force group user/Duc Huy Nguyen (dhuynguyen94)
	pushMerge = group user/Duc Huy Nguyen (dhuynguyen94)
	read = group user/Duc Huy Nguyen (dhuynguyen94)
[access "refs/tags/*"]
	push = group user/Duc Huy Nguyen (dhuynguyen94)
	push = +force group user/Duc Huy Nguyen (dhuynguyen94)
